<widget
	id		= "com.kckaiwei.AutomatedEmperor"
	version = "1.4.3">
	
	<icon src="icon.png"/>
	
	<access origin="*" />
	
	<!-- Core plugins -->
	<plugin name="cordova-plugin-inappbrowser"        source="npm" spec="~1.3.0" />
	<plugin name="cordova-plugin-whitelist" version="1"/>
	
	<platform name="ios">
		<icon src="files/Threat.png" width="180" height="180" />
	</platform>

	<platform name="android">
		<icon src="files/Threat.png" width="180" height="180" />
	</platform>
	<platform name="winphone">
		<icon src="files/Threat.png" width="180" height="180" />
	</platform>
	
	<allow-intent href="*" />
	
	<name>Imperial Assault Automated Emperor AI</name>
	
	<description>
		An Imperial Assault Co-op AI app based on RedJak7's Automated Emperor
	</description>
	
	<author href="https://github.com/kckaiwei" email="kckaiwei@gmail.com">
		Kevin Chang
	</author>
	
</widget>