input[type=radio] {
	vertical-align: middle;
	margin: 0;
	display: inline;
}

.large {
	font-size: 150%;
}

.center {
	text-align: center;
}

.buttonCenter {
	text-align: center;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.IAfont.large {
	font-family: agencyfb;
	font-weight: bold;
	font-size: 150%;
}

.green {
	color: rgb(0, 204, 0);
}

#blitzMissionSection{
	position: relative;
	clear: both;
}

#missionStaging{
	padding-bottom: 20px;
}

#avpTable{
	padding-bottom: 48px;
}

h3{
	font-family: abel;
}

h2.center {
    text-align: center;
	font-family: agencyfb;
}

/* Create container for Mission Table
*/
.missionTableLeft {
    position: relative;
	float: left;
	width: 33%;
	overflow: hidden;
	background-color: #B9D7D9;
	margin: 10px 5px 10px 5px;
}

.missionTableRight {
    position: relative;
	float: left;
	width: 65.5%;
	height: 100%;
	overflow: hidden;
	background-color: #B9D7D9;
	margin: 10px 5px 10px 10px;
}

@media only screen and (max-width: 768px) {
	.missionTableLeft{
		width: 100%;
		float: none;
		padding: 0px 0px 0px 0px;
		margin: 2px 2px 2px 2px;
	}
	.missionTableRight{
		width: 100%;
		float: none;
		padding: 0px 0px 0px 0px;
		margin: 2px 2px 2px 2px;
	}
	div.shaded{
		clear: both;
		width: 100%;
        margin: auto;
	}
	
	div {
		margin: auto;
	}

        div.mobilealign {
            padding-right: 0px;
			margin-right: -4px;
        }
}

@media only screen and (max-width: 480px) {
	.missionTableLeft{
		width: 100%;
		float: none;
		padding: 0px 0px 0px 0px;
		margin: 2px 2px 2px 2px;
		overflow: auto;
	}
	.missionTableRight{
		width: 100%;
		float: none;
		padding: 0px 0px 0px 0px;
		margin: 2px 2px 2px 2px;
		overflow: auto;
	}
	div.shaded{
		clear: both;
		width: 100%;
        margin: auto;
	}
	
	div {
		margin: auto;
	}

        div.mobilealign {
            padding-right: 0px;
			margin-right: -4px;
        }
}

div.padded {
	padding-bottom: 10px;
}

img {
	max-width: 100%;
}


/* Padding: top,right,bottom,left
*/
div.shaded{
	clear: both;
	background-color: #e6e6e6;
	height: 50px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 6px;
	font-family: agencyfb;
}

b.center{
	text-align: center;
}

table.center{
	text-align: initial;
	margin-left: auto;
	margin-right: auto;
}

td.coreMission{
	color: #0047b3;
}

tr.wave1{
	color: #cc0000;
}

tr.wave2{
	color: #999900;
}

tr.wave3{
	color: #730099;
}

tr.wave4{ 
	color: #992600;
}

tr.wave5{
	color: #002699;
}

tr.wave6{
	color: #269900;
}

tr.wave7{
	color: #009999;
}

/*Collection of fonts
*/
@font-face {
	font-family: agencyfb;
	src: url('../files/fonts/agencyfb.ttf');
}

@font-face {
	font-family: abel;
	src: url('../files/fonts/Abel-Regular.ttf');
}

/*MODAL SECTION
BEGINS
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	max-height: calc(100vh - 210px);
	overflow-y: auto;		
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* MODAL SECTION
ENDS
*/
