input[type=radio] {
	vertical-align: middle;
	margin: 10px;
	display: none;
}

input[type=radio] + label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
}

input[type=radio]:checked + label {
	background-image: none;
	background-color: #d0d0d0;
	
}

input[type=checkbox] {
	vertical-align: middle;
	margin: 10px;
	display: none;
}

input[type=checkbox] + label {
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
}

input[type=checkbox]:checked + label {
	background-image: none;
	background-color: #d0d0d0;
	
}

input[type=tel]{
	text-align: right;
}

label {
	width: 93%;
	font-family: calibri;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}

.small-labels label{
	font-size: 75%;
}

a{
	font-size: 22px;
	font-family: agencyfb;
}

a:link {
	text-decoration: underline;
	color: #6699ff;
}

a:hover {
	text-decoration: none;
}

a:visited{
	color: #b366ff;
}

.large {
	font-size: 150%;
}

.center {
	text-align: center;
}

.buttonCenter {
	text-align: center;
}

button {
	border-radius: 5px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.barIcons {
	width: 80%;
	height: 80%;
	padding: 5px 5px 5px 5px;
}

img {
	max-width: 100%;
}

span.large {
	font-size: 200%;
}

.IAfont.large {
	font-family: agencyfb;
	font-weight: bold;
	font-size: 150%;
}

.green {
	color: rgb(0, 204, 0);
}

div.floatRight{
	position: fixed;
	right: 0.25%;
	width: 50px;
	height: 50px;
	background-color: #9cc6c9;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #deeaed;
}

#loadoutIcon{
	top: 100px;
}

#missionIcon{
	top: 160px;
}

#referenceIcon{
	top: 220px;
}

#helpIcon{
	top: 280px;
}

#blitzMissionSection{
	position: relative;
	clear: both;
}

#missionStaging{
	padding-bottom: 20px;
}

#avpTable{
	padding-bottom: 48px;
}

h3{
	font-family: abel;
}

h2.center {
    text-align: center;
	font-family: agencyfb;
}

/* Create container for Mission Table
*/
.divTable {
	border-collapse: collapse;
	width: 100%;
}

.divTable td{
	padding: 5px;
	vertical-align: top;
	width: 50%;
}

.divTable td td{
	padding: 5px;
	vertical-align: top;
	width: 25%;
}

.col{
	position: relative;
	float: center;
	overflow: hidden;
	background-color: #B9D7D9;
	margin: 10px 5px 10px 5px;
	
}
.barIcons{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.barIcons:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#shortInstructions {
}

img.intro-icons{
	height: 1em;
	width: 1em;
}

img.loadout-icons{
	height: 2em;
	width: 2em;
}

/* Some tablets have width of 800px? Weird. bq Curie 2 issue. 800px should fix.
*/
@media only screen and (max-width: 1024px) {
	
	label {
		font-size: 90%;
	}
	
}


@media only screen and (max-width: 800px) {
	div.shaded {
		clear: both;
		width: 100%;
		margin: auto;
	}
	
	.tablewrapper {
		overflow: auto;
	}
	
	.stack td{
		display: block;
		width: 100%;
	}
	
	.stack td .internalnonstack td{
		display: inline;
		width: auto;
	}
	
	.loadoutTable table, thead, tbody, th, td, tr {
		display: inline-block;
		width: 100%;
	}
	
	.loadoutTable thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.loadoutTable tr {
		border: 1px solid #ccc;
	}
	
	.loadoutTable td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 0%;
		width: 100%;
	}
	
	.loadoutTable td:before{
		position: absolute;
		top: 6px;
		left: 6px;
		width: 100%;
		padding-right: 10px;
		white-space: nowrap;
	}
	
	.loadoutTable td:nth-oftype(1):before { content:"Player #";}
	.loadoutTable td:nth-oftype(2):before { content:"Character";}
	
	label {
	width: 100%;
	font-family: calibri;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	}
	
	h3 {
		font-size: 100%;
	}
	
}

@media only screen and (max-width: 480px) {
	
	h1 {
		font-size: 125%;
	}
	
	h2 {
		font-size: 110%;
	}
	
}

div.padded {
	padding-bottom: 10px;
}

/* Padding: top,right,bottom,left
*/
div.shaded{
	clear: both;
	background-color: #e6e6e6;
	height: 50px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 6px;
	font-family: agencyfb;
}

b.center{
	text-align: center;
}

table.center{
	text-align: initial;
	margin-left: auto;
	margin-right: auto;
}

.loadoutTable tr td{
}

.playerOne{
	color: Red;
}

.playerTwo{
	color: Blue;
}

.playerThree{
	color: Gold;
}

.playerFour{
	color: Green;
}

td.coreMission{
	color: #0047b3;
}

tr.wave1{
	color: #cc0000;
}

tr.wave2{
	color: #999900;
}

tr.wave3{
	color: #730099;
}

tr.wave4{ 
	color: #992600;
}

tr.wave5{
	color: #002699;
}

tr.wave6{
	color: #269900;
}

tr.wave7{
	color: #009999;
}

/*Collection of fonts
*/
@font-face {
	font-family: agencyfb;
	src: url('../files/fonts/agencyfb.ttf');
}

@font-face {
	font-family: abel;
	src: url('../files/fonts/Abel-Regular.ttf');
}

/*MODAL SECTION
BEGINS
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
	z-index: 2; /* Sit on top */
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
	height: 80%;
	overflow: scroll;
    -webkit-animation-name: slideInRight;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInRight;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #487784;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	max-height: calc(100vh - 210px);
	overflow-y: scroll;		
}

.modal-footer {
    padding: 2px 16px;
    background-color: #487784;
    color: white;
}

.modalRight {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-contentRight {
    position: fixed;
	z-index: 2; /* Sit on top */
    top: 20%;
    background-color: #fefefe;
    width: 100%;
	overflow: scroll;
    -webkit-animation-name: slideInRight;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInRight;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes slideInRight {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@keyframes slideInRight {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* MODAL SECTION
ENDS
*/

/* Expanding Divs
*/